<option value="pln">PLN</option>
<option value="eur">EUR</option>
<option value="gbp">GBP</option>
<option value="cad">CAD</option>
<option value="mxn">MXN</option>
<option value="aud">AUD</option>
<option value="hkd">HKD</option>
<option value="rub">RUB</option>
<option value="huf">HUF</option>
<option value="thb">THB</option>
<option value="brl">BRL</option>
<option value="cny">CNY</option>
<option value="jpy">JPY</option>